@import "tailwindcss";

body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: #1F2937;
  color: var(--primary-color);
}

body::selection {
  background-color: #e41638;
  color: white;
}

img::selection {
  background-color: transparent;
}

/* Dark Theme/ White Theme ? */

:root {
  --primary-color: #FAFAFA;
  --primary-dark: #1F2937;
  --error-color: #D32F2F;
  --dark-red-color: #e94343;
  --light-red: #e41638;
  --light-yellow: #c99700;
  --shiny-yellow: #ffc50c;
  --deep-lightpurple: #a45de3;
} 

.menu-line-1 { 
  animation: menu-line-1-animation 1s forwards ease-in-out;
}
.rev-menu-line-1 { 
  animation: rev-menu-line-1-animation 1s forwards ease-in-out;
}

@keyframes menu-line-1-animation  {
  to{
    transform: translateY(6px) rotate(-55deg);
  }
}

@keyframes rev-menu-line-1-animation  {
  from {
    transform: translateY(6px) rotate(-55deg);
  } to{
    transform: translateY(0px) rotate(0deg);
  }
}

.menu-line-2 { 
  opacity: 1;
  animation: menu-line-2-animation 0.5s forwards ease-in-out;
}

.rev-menu-line-2 { 
  animation: rev-menu-line-2-animation 1s forwards ease-in-out;
}

@keyframes menu-line-2-animation { 
  to{
    opacity: 0;
  }
}

@keyframes  rev-menu-line-2-animation { 
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.menu-line-3 { 
  animation: menu-line-3-animation 1s forwards ease-in-out;
}

.rev-menu-line-3 { 
  animation: rev-menu-line-3-animation 1s forwards ease-in-out;
}

@keyframes menu-line-3-animation { 
to{
    transform: translateY(-6px) rotate(55deg);
  }
}

@keyframes  rev-menu-line-3-animation { 
from{
  transform: translateY(-6px) rotate(55deg);
} to{
    transform: translateY(0px) rotate(0deg);
}
}

.drop-down-navbar {
  animation: drop-down-navbar-animation 1s forwards ease-in-out;
}

@keyframes drop-down-navbar-animation {
  from{
    max-height: 0;
  } to {
    max-height: 600px;
  }
}

.rev-drop-down-navbar {
  animation: rev-drop-down-navbar-animation 1s forwards ease-in-out;
}

@keyframes rev-drop-down-navbar-animation {
 0%{
    max-height: 600px;
  } 
  95%{
    border-bottom: solid var(--error-color) 2px;
  }
  100% {
    max-height: 0;
    border-bottom: none;
  }
}

.forging {
  animation: forging-animation 1.5s infinite ease-in-out;
}

@keyframes forging-animation {
  50% {
    transform: rotate(45deg);
   }
}

/* Hero ClipPath Starts */

.c-circle {
  clip-path: circle(0% at center);
  animation: c-circle-animation 1s forwards ease-in-out;
  transition: clip-path 0.75s ease;
}

@keyframes c-circle-animation {
  from{
    clip-path: circle(0% at center);
  } to {
    clip-path: circle(75% at center);
  }
}

.rb-circle-start {
  clip-path: circle(0% at right bottom);
  animation: rb-circle-animation 0.75s forwards ease-in-out;
  transition: clip-path 0.75s ease;
  animation-delay: 0.75s ;
}

.rb-circle {
  clip-path: circle(75% at right bottom);
  transition: clip-path 0.75s ease;
}

.rb-circle:hover {
  clip-path: circle(100% at center);
}

@keyframes rb-circle-animation {
  from{
    clip-path: circle(0% at right bottom);
  } to {
    clip-path: circle(75% at right bottom);
  }
}


.lb-circle-start {
  clip-path: circle(0% at left bottom);
  animation: lb-circle-animation 1s  forwards ease-in-out;
  animation-delay: 1.05s;
  transition: clip-path 0.75s ease;
}

.lb-circle {
  clip-path: circle(75% at left bottom);
  transition: clip-path 0.75s ease;
}

.lb-circle:hover {
  clip-path: circle(100%  at center);
}

@keyframes lb-circle-animation {
  from{
    clip-path: circle(0% at left bottom);
  } to {
    clip-path: circle(75% at left bottom);
  }
}

.tr-circle-start{
  clip-path: circle(0% at top right);
  animation: tr-circle-animation 0.75s  forwards ease-in-out;
  animation-delay: 1.65s;
  transition: clip-path 0.75s ease;
}

.tr-circle {
  clip-path: circle(75% at top right);
  transition: clip-path 0.75s ease;
}

.tr-circle:hover {
  clip-path: circle(100%  at center);
}

@keyframes tr-circle-animation {
  from{
    clip-path: circle(0% at top right);
  } to {
    clip-path: circle(75% at top right);
  }
}

.tl-circle-start {
  clip-path: circle(0% at top left);
  animation: tl-circle-animation 0.75s  forwards ease-in-out;
  transition: clip-path 0.75s ease;
  animation-delay: 1.35s;
}

.tl-circle {
  clip-path: circle(75% at top left);
  transition: clip-path 0.75s ease;
}

.tl-circle:hover {
  clip-path: circle(100%  at center);
}

@keyframes tl-circle-animation {
  from{
    clip-path: circle(0% at top left);
  } to {
    clip-path: circle(75% at top left);
  }
}

.r-circle-start{
  clip-path: circle(0% at top left);
  animation: r-circle-animation 0.75s  forwards ease-in-out;
  transition: clip-path 0.75s ease;
  animation-delay: 1.80s;
}

.r-circle{
  clip-path: circle(90% at right);
  transition: clip-path 0.75s ease;
}

.r-circle:hover {
  clip-path: circle(100%  at center);
}

@keyframes r-circle-animation {
  from{
    clip-path: circle(0% at  right);
  } to {
    clip-path: circle(90% at right);
  }
}

.l-circle-start {
  clip-path: circle(0% at top left);
  animation: l-circle-animation 0.75s  forwards ease-in-out;
  transition: clip-path 0.75s ease;
  animation-delay: 1.20s;
}

.l-circle {
  clip-path: circle(90% at left);
  transition: clip-path 0.75s ease;
}

.l-circle:hover {
  clip-path: circle(100%  at center);
}

@keyframes l-circle-animation {
  from{
    clip-path: circle(0% at  left);
  } to {
    clip-path: circle(90% at left);
  }
}

.t-circle-start {
  clip-path: circle(0% at  left);
  animation: t-circle-animation 0.75s  forwards ease-in-out;
  transition: clip-path 0.75s ease;
  animation-delay: 0.90s;
}

.t-circle {
  clip-path: circle(95% at bottom center );
  transition: clip-path 0.75s ease;
}

.t-circle:hover {
  clip-path: circle(90% at bottom center );
}

@keyframes t-circle-animation {
  from{
    clip-path: circle(0% at  bottom);
  } to {
    clip-path: circle(95% at bottom center );
  }
}

.b-circle-start {
  clip-path: circle(0% at  top);
  animation: b-circle-animation 0.75s  forwards ease-in-out;
  transition: clip-path 0.75s ease;
  animation-delay: 1.50s;
}

.b-circle {
  clip-path: circle(95% at top center );
  transition: clip-path 0.75s ease;
}

.b-circle:hover {
  clip-path: circle(90% at top center );
}

@keyframes b-circle-animation {
  from{
    clip-path: circle(0% at  top);
  } to {
    clip-path: circle(95% at top center );
  }
}

/* .cofeeLogo {
  clip-path: polygon(
    50% 0%, 
    93% 25%, 
    93% 75%, 
    50% 100%, 
    7% 75%, 
    7% 25%
  );
} */
/* Hero ClipPath Ends */

.card-cutout {
  clip-path: inset(0 round 16px 16px 16px 16px);
  /* Top-left cutout */
  &::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -20px;
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 12px;
    transform: rotate(0deg);
  }
}

.card-cutout:hover::before {
  transition: transform 0.3s ease;
}

.plane-flight:hover > i{
  animation: plane-flight-animation 0.75s  forwards ease-in-out;
}

@keyframes plane-flight-animation {
  to {
    transform: translate(80%, -200%);
  }
}

.animate-infinite-scroll {
  animation: animate-infinite-scroll-animation 10s linear infinite;
  will-change: transform;
}

.animate-infinite-scroll:hover {
  cursor: pointer;
  animation-play-state: paused;
}

@keyframes animate-infinite-scroll-animation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 20px));
  }
}

.button-clipath > div {
  clip-path: circle(100% at center);
  transition: all 0.3s linear;
}
.button-clipath > span {
  transition: all 0.3s linear;
  color: white;
}

.button-clipath:hover > div {
  clip-path: circle(0% at center);
}

.button-clipath:hover > span {
  color: var(--error-color);
}


.top-square {
  animation: top-square-animation 5s ease infinite;
}

/* horisontally - 256%  113%- vertically */
@keyframes top-square-animation {
  0% {
    transform: translateX(0%) translateY(0%);
  } 25% {
    transform: translateX(200%) translateY(0%);
  } 50% {
    transform: translateX(200%) translateY(113%);
  } 75% {
    transform: translateX(0%) translateY(113%);
  } 100% {
    transform: translateX(0%) translateY(0%);
  }
}

.bot-square {
  animation: bot-square-animation 5s ease infinite;
}

/* horisontally - 256%  113%- vertically */
@keyframes bot-square-animation {
  0% {
    transform: translateX(0%) translateY(0%);
  } 25% {
    transform: translateX(-200%) translateY(0%);
  } 50% {
    transform: translateX(-200%) translateY(-113%);
  } 75% {
    transform: translateX(0%) translateY(-113%);
  } 100% {
    transform: translateX(0%) translateY(0%);
  }
}

.triangle-circle {
  animation: triangle-circle-animation 1.5s ease forwards;
}

/* horisontally - 256%  113%- vertically */
@keyframes triangle-circle-animation {
  50% {
    scale: 0.3;
  }
}

.scroll-in-left-content {
  animation: scroll-in-left-animation 1s forwards ease-in-out;
}

.scroll-in-right-content {
  animation: scroll-in-right-animation 1s forwards ease-in-out;
}

@keyframes scroll-in-right-animation {
  from {
    transform: translateX(200%);
  } to {
    transform: translateX(0%);
  }
}

@keyframes scroll-in-left-animation {
  from {
    transform: translateX(-200%);
  } to {
    transform: translateX(0%);
  }
}

.scroll-out-right-content {
  animation: scroll-out-right-animation 0.75s forwards ease-in-out;
}

.scroll-out-left-content {
  animation: scroll-out-left-animation 0.75s forwards ease-in-out;
}

@keyframes scroll-out-right-animation {
  from {
    transform: translateX(0%);
  } to {
    transform: translateX(200%);
  }
}
@keyframes scroll-out-left-animation {
  from {
    transform: translateX(0%);
  } to {
    transform: translateX(-200%);
  }
}