@import "tailwindcss";

body {
  scroll-behavior: smooth;
}
 
.menu-line-1 { 
  animation: menu-line-1-animation 1s forwards ease-in-out;
}
.rev-menu-line-1 { 
  animation: rev-menu-line-1-animation 1s forwards ease-in-out;
}

@keyframes menu-line-1-animation  {
  to{
    transform: translateY(6px) rotate(-55deg);
  }
}
@keyframes rev-menu-line-1-animation  {
  to{
    transform: translateY(0px) rotate(0deg);
  }
}

.menu-line-2 { 
  opacity: 1;
  animation: menu-line-2-animation 1s forwards ease-in-out;
}

.rev-menu-line-2 { 
  animation: rev-menu-line-1-animation 1s forwards ease-in-out;
}

@keyframes menu-line-2-animation { 
  to{
    opacity: 0;
  }
}
@keyframes  rev-menu-line-2-animation { 
  to{
    opacity: 1;
  }
}

.menu-line-3 { 
  animation: menu-line-3-animation 1s forwards ease-in-out;
}

.rev-menu-line-3 { 
  animation: rev-menu-line-1-animation 1s forwards ease-in-out;
}

@keyframes menu-line-3-animation { 
to{
    transform: translateY(-6px) rotate(55deg);
  }
}
@keyframes  rev-menu-line-3-animation { 
to{
    transform: translateY(0px) rotate(0deg);
  }
}