@import "tailwindcss";

body {
  scroll-behavior: smooth;
  
}
/* Dark Theme/ White Theme ? */

:root {
  --primary-color: #FAFAFA;
  --error-color: #D32F2F;
} 

.menu-line-1 { 
  animation: menu-line-1-animation 1s forwards ease-in-out;
}
.rev-menu-line-1 { 
  animation: rev-menu-line-1-animation 1s forwards ease-in-out;
}

@keyframes menu-line-1-animation  {
  to{
    transform: translateY(6px) rotate(-55deg);
  }
}

@keyframes rev-menu-line-1-animation  {
  from {
    transform: translateY(6px) rotate(-55deg);
  } to{
    transform: translateY(0px) rotate(0deg);
  }
}

.menu-line-2 { 
  opacity: 1;
  animation: menu-line-2-animation 0.5s forwards ease-in-out;
}

.rev-menu-line-2 { 
  animation: rev-menu-line-2-animation 1s forwards ease-in-out;
}

@keyframes menu-line-2-animation { 
  to{
    opacity: 0;
  }
}

@keyframes  rev-menu-line-2-animation { 
  from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.menu-line-3 { 
  animation: menu-line-3-animation 1s forwards ease-in-out;
}

.rev-menu-line-3 { 
  animation: rev-menu-line-3-animation 1s forwards ease-in-out;
}

@keyframes menu-line-3-animation { 
to{
    transform: translateY(-6px) rotate(55deg);
  }
}

@keyframes  rev-menu-line-3-animation { 
from{
  transform: translateY(-6px) rotate(55deg);
} to{
    transform: translateY(0px) rotate(0deg);
}
}

.drop-down-navbar {
  animation: drop-down-navbar-animation 1s forwards ease-in-out;
}

@keyframes drop-down-navbar-animation {
  from{
    max-height: 0;
  } to {
    max-height: 600px;
  }
}

.rev-drop-down-navbar {
  animation: rev-drop-down-navbar-animation 1s forwards ease-in-out;
}

@keyframes rev-drop-down-navbar-animation {
 0%{
    max-height: 600px;
  } 
  95%{
    border-bottom: solid #D32F2F 2px;
  }
  100% {
    max-height: 0;
    border-bottom: none;
  }
}

.forging {
  animation: forging-animation 1.5s infinite ease-in-out;
}

@keyframes forging-animation {
  50% {
    transform: rotate(45deg);
   }
}

/* Hero ClipPath Starts */

.c-circle {
  clip-path: circle(0% at center);
  animation: c-circle-animation 1s forwards ease-in-out;
  transition: clip-path 0.75s ease;
}

@keyframes c-circle-animation {
  from{
    clip-path: circle(0% at center);
  } to {
    clip-path: circle(75% at center);
  }
}

.rb-circle-start {
  clip-path: circle(0% at right bottom);
  animation: rb-circle-animation 0.75s forwards ease-in-out;
  transition: clip-path 0.75s ease;
  animation-delay: 0.75s ;
}

.rb-circle {
  clip-path: circle(75% at right bottom);
  transition: clip-path 0.75s ease;
}

.rb-circle:hover {
  clip-path: circle(100% at center);
}

@keyframes rb-circle-animation {
  from{
    clip-path: circle(0% at right bottom);
  } to {
    clip-path: circle(75% at right bottom);
  }
}


.lb-circle-start {
  clip-path: circle(0% at left bottom);
  animation: lb-circle-animation 1s  forwards ease-in-out;
  animation-delay: 1.05s;
  transition: clip-path 0.75s ease;
}

.lb-circle {
  clip-path: circle(75% at left bottom);
  transition: clip-path 0.75s ease;
}

.lb-circle:hover {
  clip-path: circle(100%  at center);
}

@keyframes lb-circle-animation {
  from{
    clip-path: circle(0% at left bottom);
  } to {
    clip-path: circle(75% at left bottom);
  }
}

.tr-circle-start{
  clip-path: circle(0% at top right);
  animation: tr-circle-animation 0.75s  forwards ease-in-out;
  animation-delay: 1.65s;
  transition: clip-path 0.75s ease;
}

.tr-circle {
  clip-path: circle(75% at top right);
  transition: clip-path 0.75s ease;
}

.tr-circle:hover {
  clip-path: circle(100%  at center);
}

@keyframes tr-circle-animation {
  from{
    clip-path: circle(0% at top right);
  } to {
    clip-path: circle(75% at top right);
  }
}

.tl-circle-start {
  clip-path: circle(0% at top left);
  animation: tl-circle-animation 0.75s  forwards ease-in-out;
  transition: clip-path 0.75s ease;
  animation-delay: 1.35s;
}

.tl-circle {
  clip-path: circle(75% at top left);
  transition: clip-path 0.75s ease;
}

.tl-circle:hover {
  clip-path: circle(100%  at center);
}

@keyframes tl-circle-animation {
  from{
    clip-path: circle(0% at top left);
  } to {
    clip-path: circle(75% at top left);
  }
}

.r-circle-start{
  clip-path: circle(90% at right);
  transition: clip-path 0.75s ease;
}

.r-circle{
  clip-path: circle(0% at top left);
  animation: r-circle-animation 0.75s  forwards ease-in-out;
  transition: clip-path 0.75s ease;
  animation-delay: 1.80s;
}

.r-circle:hover {
  clip-path: circle(100%  at center);
}

@keyframes r-circle-animation {
  from{
    clip-path: circle(0% at  right);
  } to {
    clip-path: circle(90% at right);
  }
}


.l-circle-start {
  clip-path: circle(90% at left);
  transition: clip-path 0.75s ease;
}

.l-circle {
  clip-path: circle(0% at top left);
  animation: l-circle-animation 0.75s  forwards ease-in-out;
  transition: clip-path 0.75s ease;
  animation-delay: 1.20s;
}

.l-circle:hover {
  clip-path: circle(100%  at center);
}

@keyframes l-circle-animation {
  from{
    clip-path: circle(0% at  left);
  } to {
    clip-path: circle(90% at left);
  }
}

.grid-t-element {
  clip-path: circle(95% at bottom center );
  transition: clip-path 0.75s ease;
}

.grid-t-element:hover {
  clip-path: circle(90% at bottom center );
}

.grid-b-element {
  clip-path: circle(95% at top center );
  transition: clip-path 0.75s ease;
}

.grid-b-element:hover {
  clip-path: circle(90% at top center );
}

/* .cofeeLogo {
  clip-path: polygon(
    50% 0%, 
    93% 25%, 
    93% 75%, 
    50% 100%, 
    7% 75%, 
    7% 25%
  );
} */
/* Hero ClipPath Ends */